.logotop {
    position: relative;
    margin-top: 4rem;
    margin-bottom:4rem;
    // @media (min-width: 768px) {
    //   padding-top: 12rem;
    //   padding-bottom: 12rem;
    //   h1 {
    //     font-size: 3rem;
    //   }
    // }
  }
  